{{define "markdown_page"}}
<!doctype html>
<html lang="en">
{{template "head" .}}
<body class="flex flex-col font-sans">
  {{template "header" .}}
  <main class="min-h-screen pb-32">
    <div class="bg-bg-500 overflow-x-hidden">
      <div class="mx-auto max-w-screen-xl py-8 px-8 flex flex-col items-center">
        <div>
          <article class="max-w-[800px] text-text-400 prose md:prose-lg lg:prose-xl
                          prose-strong:text-text-500 prose-em:text-text-500
                          prose-h1:text-text-500 prose-h2:text-text-500 prose-h3:text-text-500 prose-h4:text-text-500
                          prose-blockquote:text-text-300 prose-blockquote:ml-8
                          prose-figcaption:text-text-400 prose-ol:text-text-400 prose-ul:text-text-400 prose-li:text-text-400
                          prose-pre:text-text-400 prose-code:text-text-500
                          prose-thead:text-text-500 prose-th:text-text-500 prose-table:text-text-400
                          prose-tr:text-text-400 prose-td:text-text-400 prose-img:text-text-400
                          prose-hr:text-text-300
                          prose-a:no-underline prose-a:text-primary-500 prose-a:decoration-primary-500
                          hover:prose-a:text-primary-500 hover:prose-a:decoration-primary-500
                          max-w-none">
            {{.BodyHTML}}
          </article>
        </div>
      </div>
    </div>
  </main>
  {{template "footer" .}}
  {{template "scripts" .}}
</body>
</html>
{{end}}
