{{ define "main" }}
  <main aria-role="main">
    <div class="mt-16">
      <h2 class="text-3xl text-neutral-50 mb-8 font-normal">Tags</h2>
      <div class="">
        {{ range .Site.Taxonomies.tags }}
        <span class="inline-block bg-gray-800 rounded px-3 py-1 mr-2 mb-3">
            <a href="{{ .Page.Permalink }}" class="text-gray-400 text-base mt-14">{{ .Page.Title }}</a>
            <span class="text-blue-800">({{ .Count }})</span>
        </span>
        {{ end }}
      </div>
  </main>
{{ end }}
