---
import { getEntry } from 'astro:content';
import CommonLayout from '../layouts/CommonLayout.astro';
import Prose from '../components/Prose.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const entry = await getEntry('about', 'index');
const { Content } = await entry?.render();
---

<CommonLayout
  section="about"
  seo={{
    title: `About :: ${SITE_TITLE}`,
    description: `About page of ${SITE_TITLE} - ${SITE_DESCRIPTION}. Find out more about Juan: his work, his passions and his side projects.`,
  }}
>
  <div class="bg-bg-500 overflow-x-hidden">
    <div class="mx-auto max-w-screen-xl py-8 px-8 flex flex-col items-center">
      <div>
        <Prose class="max-w-[800px]">
          <Content />
        </Prose>
      </div>
    </div>
  </div>
</CommonLayout>
